

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
 .env/
.env
env/

# Ignore logs
*.log
audit.log
# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore macOS / Windows junk
.DS_Store
Thumbs.db

# Logs
logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/.env
backend/routes/__pycache__
backend/utils/__pycache__
**/__pycache__/


